/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.login-form {
  max-width: 360px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: calc(100% - 20px); /* Adjusted width to account for padding */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 10px; /* Right margin added */
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
